.switch-bar button.active {
    background: rgba(54, 227, 239, 1);
    background: linear-gradient(-45deg, hsla(184, 85%, 57%, 1) 0%, hsla(260, 100%, 44%, 1) 50%, hsla(260, 100%, 44%, 1) 70%, rgba(236, 158, 255, 0.5) 100%);
    background: -moz-linear-gradient(-45deg, hsla(184, 85%, 57%, 1) 0%, hsla(260, 100%, 44%, 1) 50%, hsla(260, 100%, 44%, 1) 70%, rgba(236, 158, 255, 0.5) 100%);
    background: -webkit-linear-gradient(-45deg, hsla(184, 85%, 57%, 1) 0%, hsla(260, 100%, 44%, 1) 50%, hsla(260, 100%, 44%, 1) 70%, rgba(236, 158, 255, 0.5) 100%);
    color: white; 
    border: none;    
    background-size: 120% auto;      
}
.switch-bar button:hover {
    color: #fff;
    background-position: right center;
}
.switch-bar {
    width: fit-content;
    margin: 50px auto 10px;
    border-radius: 20px;
    gap: 0px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 10;
}
.switch-bar button {
    padding: 9px 15px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.607);
    cursor: pointer;
    border: unset;
    transition: 0.3s;
}
.switch-bar button:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.switch-bar button:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*----------------------------------------------------------------------------------
**********************************  MEDIA QUERY **********************************
-----------------------------------------------------------------------------------*/
/* LARGE DESKTOP VERSION ONLY */

@media (min-width: 1400px) {}
/************************************************/
/* DESKTOP VERSION ONLY */
@media (max-width: 1399.98px) {}

/*****************************************/
/* TABLET MEDIUM & LARGE VERSION ONLY */

@media (max-width: 992px) {}
/*******************************************/
/* TABLET SMALL VERSION ONLY */

@media (max-width: 768px) {}

/****************************************/
/* MOBILE VERSION ONLY */

@media (max-width: 500px) {
    .switch-bar {
    margin: 25px auto 10px;
    }
    .switch-bar button {
        font-size: 10px;
    }
}
