@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dhk8qu');
  src:  url('fonts/icomoon.eot?dhk8qu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dhk8qu') format('truetype'),
    url('fonts/icomoon.woff?dhk8qu') format('woff'),
    url('fonts/icomoon.svg?dhk8qu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-framer:before {
  content: "\e904";
  color: #05f;
}
.icon-javascript:before {
  content: "\e911";
  color: #f7df1e;
}
.icon-tailwindcss:before {
  content: "\e905";
  color: #38b2ac;
}
.icon-typescript:before {
  content: "\e906";
  color: #007acc;
}
.icon-wordpress:before {
  content: "\e907";
  color: #21759b;
}
.icon-angular:before {
  content: "\e908";
  color: #dd0031;
}
.icon-vue-dot-js:before {
  content: "\e909";
  color: #4fc08d;
}
.icon-node-dot-js:before {
  content: "\e90a";
  color: #393;
}
.icon-bootstrap:before {
  content: "\e90b";
  color: #563d7c;
}
.icon-css3:before {
  content: "\e90c";
  color: #1572b6;
}
.icon-html5:before {
  content: "\e90d";
  color: #e34f26;
}
.icon-react:before {
  content: "\e90e";
  color: #61dafb;
}
.icon-arrow-right:before {
  content: "\e90f";
}
.icon-close:before {
  content: "\e900";
}
.icon-mail:before {
  content: "\e901";
}
.icon-sun:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-information:before {
  content: "\e910";
}
.icon-search:before {
  content: "\e903";
}
.icon-heart:before {
  content: "\f004";
  color: red;
}
.icon-play:before {
  content: "\f04b";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-github:before {
  content: "\f09b";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-chevron-circle-up:before {
  content: "\f139";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-moon-o:before {
  content: "\f186";
}
.icon-toggle-off:before {
  content: "\f204";
}
.icon-toggle-on:before {
  content: "\f205";
}
