/*
-------------------------
***** Page Content *****
-------------------------
1- Header
2- Switch Icon
3 Search Bar
4- Favorite Icon
5- Model Pop Up
6- Favorite List
*/

/*====================
      1- Header
======================*/
header {
  width: 100%;
  height: 50px;
  background-color: var(--primary-color-dark);
  padding: 0px 5%;
  position: fixed;
  top: 0;
  z-index: 100;
}
header::after {
  display: block;
  position: absolute;
  content: '';
  width: 90%;
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.586);
  margin-top: 55px;
}
.header-icons {
  margin-left: auto;
}

/*====================
    2- Switch Icon
======================*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  height: 18px;
  width: 70px;
  padding: 3px 0px;
  top: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #9C27B0; */
  background-color: #ffffff33;
  color: rgba(255, 255, 255, 0.726);
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.slider span {
  font-size: 12px;
}
.slider:before {
  position: absolute;
  content: "AR";
  padding-top: 4px;
  color: #fff;
  text-align: center;
  height: 23px;
  width: 33px;
  left: 7px;
  background: rgba(54, 227, 239, 1);
  background: linear-gradient(-45deg, hsla(184, 85%, 57%, 1) 0%, #4b00e0 50%, hsla(260, 100%, 44%, 1) 70%, rgba(236, 158, 255, 0.5) 100%);
  background: -moz-linear-gradient(-45deg, hsla(184, 85%, 57%, 1) 0%, hsla(260, 100%, 44%, 1) 50%, hsla(260, 100%, 44%, 1) 70%, rgba(236, 158, 255, 0.5) 100%);
  background: -webkit-linear-gradient(-45deg, hsla(184, 85%, 57%, 1) 0%, hsla(260, 100%, 44%, 1) 50%, hsla(260, 100%, 44%, 1) 70%, rgba(236, 158, 255, 0.5) 100%);
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  /* background-color: #2196f370; */
    background-color: #9C27B0;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*====================
    3- Search Bar
======================*/
.search-bar {
  width: 30px;
  display: flex;
  align-items: center;
  border-radius: 28px;
  padding: 4px 10px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.icon-search {
  font-size: 25px;
}
.icon-search, .icon-close {
  cursor: pointer;
}
.search-bar.active {
  width: 360px;
  background-color: #f6f6f6;
  color: #333333;
  font-size: 15px;
}

.search-input {
  font-size: 16px;
  color: #333333;
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: 14px;
  flex-grow: 1;
}

/*====================
    4- Favorite Icon
======================*/
.icon-heart-o {
  color: #fff;
  border: none;
  font-size: 18px;
}
.heart-btn {
  background-color: transparent;
  cursor: pointer;
}

/*====================
    5- Model Pop Up
======================*/
header .model{
  width: 25%;
  max-height: 95vh;
  overflow: scroll;
  /* background-color: #170e39; */
  position: absolute;
  top: 90%;
  right: 5px;
  padding: 20px 0px;
  /* box-shadow: 3px 4px 4px #000; */
  /* border: 1px solid #778feb; */
  border-radius: 15px;
  /* padding-top: 15%; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.39);
  clip-path: circle(0px at 100% -15%);
  -webkit-clip-path: circle(0px at 100% -15%);
  z-index: 200;
  transition: all 1.5s ease;
}
.model.active {
  clip-path: circle(1500px at 100% -15%);
  -webkit-clip-path: circle(1500px at 100% -15%);
}
.model .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: var(--light-color);
  border: none;
}
.model h3 {
  margin: 10px auto;
  letter-spacing: 2px;
  opacity: 0.8;
}

/*====================
    6- Favorite List
======================*/
.favorite-list img {
  width: 130px;
  border-radius: 10px;
}
.favorite-list-item {
  width: 100%;
  margin: 10px auto;
  background-color: #292458;
  display: flex;
  justify-content: start;
  padding: 5px;
  border-radius: 10px;
  box-shadow: inset -3px -3px 3px #0f4566b8;
}
.favorite-list-item-content {
  flex-grow: 1;
  text-align: center;
  padding: 7px 0px;
}
.favorite-list-item-content p {
  font-size: 12px;
  padding: 4px;
    
}
.list-category {
  font-size: 10px;
}
.favorite-list-item-content button {
  font-size: 10px;
  padding: 2px 7px;
  margin: 2px;
  margin-top: 10px;
  border-radius: 3px;
  border: none;
  color: #fff;
  background-color: transparent;
  border: 1px solid #778fec;
  cursor: pointer;
}

/*----------------------------------------------------------------------------------
**********************************  MEDIA QUERY **********************************
-----------------------------------------------------------------------------------*/
/* LARGE DESKTOP VERSION ONLY */

@media (min-width: 1400px) {}
/************************************************/
/* DESKTOP VERSION ONLY */
@media (max-width: 1399.98px) {
  header .model {
  width: 30%;
}
}

/*****************************************/
/* TABLET MEDIUM & LARGE VERSION ONLY */

@media (max-width: 992px) {
  header .model {
  width: 40%;
}
}
/*******************************************/
/* TABLET SMALL VERSION ONLY */

@media (max-width: 768px) {
  .search-bar.active {
  width: 300px;
  padding: 3px 0px;
}
.icon-close {
    font-size: 13px;
    margin-right: 7px;
}
header .model {
  width: 50%;
}
}

/****************************************/
/* MOBILE VERSION ONLY */

@media (max-width: 576px) {
.icon-search {
  font-size: 23px;
}
.icon-heart-o {
  font-size: 15px;
}
.header-icons {
  
}
.slider {
  height: 15px;
  width: 55px;
}
.slider:before {
  width: 25px;
  height: 20px;
  font-size: 12px;
  left: 2px;
}
.search-input {
  font-size: 12px;
  width: 80px;
}
.search-bar.active {
  width: 135px;
  padding: 0px;
}
.icon-close {
    font-size: 10px;
    margin-right: 5px;
}
header .model {
  width: 50%;
}
.favorite-list img {
    width: 90px;
    height: 70px;
}
}
/**********************************/
/* VERY SMALL MOBILE */
@media (max-width: 450px) {
  header .model {
  width: 80%;
}
.favorite-list-item-content p {
  font-size: 10px;
  padding: 0px;
}
.favorite-list img {
    width: 120px;
    height: 55px;
    margin: auto;
    margin-top: 6px;
}
.favorite-list-item {
  width: 97%;
  flex-wrap: wrap;
}
}